---
import Pacman from "../layouts/pacman.astro";
---

<astro>
  <section
    id="skills"
    class="flex items-center content-center bg-white dark:bg-gray-800"
  >
    <Pacman />
  </section>
</astro>
