<astro>
  <section class="bg-white dark:bg-gray-800 flex content-center dark:text-zinc-400" id="redes">
    <a
      href="https://www.linkedin.com/in/german-smigoski-84323a252/"
      target="_blank"><i class="fab fa-linkedin"></i>Linked In</a
    >
    <a href="https://github.com/GermanSmigoski" target="_blank"
      ><i class="fab fa-github"></i>Github</a
    >
  </section>
  <style>
    .social-icons a {
      display: inline-block;
      margin-right: 1rem;
      font-size: 1.5rem;
      color: #333;
    }
  </style>
</astro>
