<astro>
  <section
    class="bg-white dark:bg-gray-800 flex content-center dark:text-zinc-400"
    >
    <div class="flex justify-center items-center">
      <div class="flex justify-start">
        <h2>Front End:</h2>
        <div class="box">
          <span>React</span>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
          />
        </div>
      </div>
      <div class="box">
        <span>Redux</span>
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redux/redux-original.svg"
        />
      </div>
    </div>
    <div class="box">
      <span>HTML</span>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
      />
    </div>

    <div class="box">
      <span>CSS3</span>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
      />
    </div>

  <div class="box">
    <span>SASS</span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg"
    />
  </div>

  <div class="box">
    <span>Tailwind</span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg"
    />
  </div>

  <div class="box">
    <span>Boostrap</span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg"
    />
  </div>

  <div class="box">
    <span>MUI</span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg"
    />
  </div>

  <div class="flex justify-start">
    <h2>Back End:</h2>
    <div class="box">
      <span>Node.js</span>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
      />
    </div>
  </div>
  <div class="box">
    <span>Express</span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"
    />
  </div>

  <div class="box">
    <span>Sequelize</span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sequelize/sequelize-original.svg"
    />
  </div>

  <div class="box">
    <span>PostgreSQL</span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
    />
  </div>

  <div class="box">
    <span>GraphQL</span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/graphql/graphql-plain.svg"
    />
  </div>

  <div>
    <div class="flex justify-start">
      <h2>Tools :</h2>
      <div class="box">
        <span>JavaScript</span>
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
        />
      </div>
    </div>
    <div class="box">
      <span>Github</span>
      <img
        style={{ filter: "invert(1)" }}
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
      />
    </div>
  </div>
  <div class="box">
    <span>VS code</span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg"
    />
  </div>

  <div class="box">
    <span>Next.js</span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg"
    />
  </div>

  <div class="box">
    <span>Typescript</span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
    />
  </div>
  </section>
<style>
  .skillsContainer img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
  }

  .skillsContainer {
    margin-top: 25px;
    width: 60%;
    height: auto;
  }

  .skillsContainer h1 {
    color: #fff279;
    text-shadow: 0px 0px 15px #fff279;
  }

  .boxSkills {
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 10px;
  }

  .frontEnd,
  .backEnd,
  .other,
  .learning {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0a152b;
    margin: 20px;
    padding: 25px;
    box-shadow: -16px 16px 5px -5px #030c1d;
    animation-name: skillsAppear;
    animation-duration: 1s;
    border-radius: 8px;
    flex-wrap: wrap;
  }

  .skillsContainer h2 {
    text-align: center;
    color: #fff6a2;
    padding: 15px;
  }

  .box {
    padding: 10px;
    margin-bottom: 10px;
    width: 75px;
    height: 75px;
  }

  .box img {
    transition: transform 0.7s ease-in-out;
    cursor: pointer;
  }

  .box img:hover {
    transform: rotate(360deg) scale(1.1);
  }

  @keyframes skillsAppear {
    from {
      transform: translateX(100%) translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }

  @media (max-width: 767px) {
    .skillsContainer {
      height: auto;
    }
    .backEnd h2 {
      font-size: 20px;
      width: 300px;
    }
    .frontEnd h2 {
      font-size: 20px;
      width: 300px;
    }
    .other h2 {
      font-size: 20px;
      width: 300px;
    }

    .frontEnd,
    .backEnd,
    .other,
    .learning {
      display: flex;
    }
  }

  @media (max-width: 1300px) {
    .skillsContainer {
      height: auto;
    }
  }
</style>
</astro>