---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"
    ></script>

    <link
      rel="stylesheet"
      href="node_modules/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <script defer src="node_modules/@fortawesome/fontawesome-free/js/all.min.js"
    ></script>
    <title>Mi portfolio en astro</title>
    <script>
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
<astro>
  <style is:global>
    :root {
      --accent: 124, 58, 237;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        #da62c4 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      background-color: #f6f6f6;
      scroll-behavior: smooth;
    }
    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    section {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f2f2f2;
    }
    .section-one {
      background-color: #f9f9f9;
    }
    .section-two {
      background-color: #e9e9e9;
    }
    body {
      /* Estilos para el modo claro */
      background-color: #fff;
      color: #333;
    }
    body.dark-mode {
      /* Estilos para el modo oscuro */
      background-color: #272727;
      color: #fff;
    }
    body.dark-mode section {
      background-color: #333;
    }
    body.dark-mode .section-one {
      background-color: #3a3a3a;
    }
    body.dark-mode .section-two {
      background-color: #474747;
    }
  </style>
</astro>
